.images_pc {
  background: url(../../images/front/pc_visual.jpg) center no-repeat;
  background-size: cover;
}

.images_tb {
  background: url(../../images/front/tb_visual.jpg) center no-repeat;
  background-size: cover;
}

.images_sp {
  background: url(../../images/front/sp_visual.jpg) center no-repeat;
  background-size: cover;
}